<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个对应的DAO/MAPPER命名接口-->
<mapper namespace="com.gary.dao.BookMapper">
    <insert id="addBook" parameterType="Books">
        insert into mybatis.book values(#{book_id},#{bkName},#{bkCount},
     #{description});
    </insert>

    <delete id="delBookById" parameterType="int">
        delete from book where book_id=#{book_id};
    </delete>

    <update id="updateBook" parameterType="Books">
        update book set bkName=#{bkName},bkCount=#{bkCount},
        book_id=#{book_id}, description=#{description}
        where book_id=#{book_id} ;
    </update>

    <select id="queryBookById" parameterType="int" resultType="Books">
        select * from book where book_id = #{book_id};
    </select>

    <select id="queryAllBook" resultType="Books">
        select * from book
    </select>

    <select id="queryBookByName" parameterType="String"
            resultType="Books">
        select * from book where bkName=#{bkName};
    </select>
</mapper>
